{
    "window": {
    	"title" : "Demo Program",
    	"width" : 800,
    	"height" : 600
    },
    "content-paths": {
    	"models" : "models/",
    	"shaders" : "shaders/",
    	"textures" : "textures/"
    },
    "log-settings": {
      "write-priority-level" : 0,
      "print-priority-level" : 3
    }
}
